#
# Near Field Communication (NFC) devices
#

menuconfig NFC_DEVICES
	bool "Near Field Communication (NFC) devices"
	default n
	---help---
	  You'll have to say Y if your computer contains an NFC device that
	  you want to use under Linux.

	  You can say N here if you don't have any Near Field Communication
	  devices connected to your computer.

if NFC_DEVICES

config PN544_NFC
	tristate "PN544 NFC driver"
	depends on I2C
	select CRC_CCITT
	default n
	---help---
	  Say yes if you want PN544 Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called pn544.

config PN544_UNI_NFC
	bool "UNI PN544 NFC Controller Driver"
	depends on I2C && GENERIC_GPIO
	default n
	---help---
	  UNI PN544 Near Field Communication controller support.

config PN544_NXP_NFC
	bool "NXP PN544 NFC Controller Driver"
	depends on I2C && GENERIC_GPIO
	default n
	---help---
	  NXP PN544 Near Field Communication controller support.

endif # NFC_DEVICES
